.texto03{
    color:darkolivegreen;
    font-style: italic;
    font-size: x-large;
    margin: 100px;
}
.texto05{
    color:darkolivegreen;
    font-style: italic;
    font-size: x-large;
    text-align: right;
    margin: 60px;
}
b:hover{
    background-color: yellowgreen;
    color:black;
}